<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="2" >
  <test thread-count="2" parallel="methods" name="ParaTests">
	  
	  <groups>
		  <run>
			  <include name="all"></include>
		  </run>
	  </groups>
	  
    <classes>
      <class name="testing.MyAccountTest"/>
      <class name="testing.HomePageTest"/>
      <class name="testing.RegistrationTest"/>
      <class name="testing.LoginTest"/>
      <class name="testing.ShopTest"/>
    </classes>
  </test> <!-- ParaTests -->
</suite> <!-- Suite -->
